<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <script>
        userid = "<%=parsedQuery.id%>";
    </script>
    <script src="/js/admin-user-edit.js"></script>
    <link rel="stylesheet" href="/css/admin-user-edit.css">
    <title>유저 관리 - 데이터 수정</title>
</head>

<body>
<h1 id="main_title">유저 관리 - <%=parsedQuery.id%></h1>
<%if(userdb[parsedQuery.id] == null) {%>
    <h3 class="no_exist_user">현재 존재하지 않는 사용자를 수정하고 있습니다.</h3>
    <h3 class="no_exist_user">수정시 데이터에 이 유저가 새로 추가되게 됩니다.</h3>
<%}%>
<form action="/edituser/<%=parsedQuery.id%>" method="post">
    <p>등급 : <input class="inputbox" type="text" name="rank" value="<%=userdata.RANK%>"></p>
    <p>오늘 남은 횟수 : <input class="inputbox" type="number" name="left_count" value="<%=userdata.left_count%>"></p>

    <input class="save_data" type="submit" value="확인">
</form>
</body>
</html>